

.form-add-project-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem; 
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 0.5rem;
}

.inputs-text-div{
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 0;
}

.input-text{
 color: #000000;
}

.inputs-checkbox-div{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    
}

.inputs-image-div{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-content: center;
}

.checkbox-div{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 6rem;
}

.form-add-project-div p{
    margin-bottom: 1rem;
    font-size: 1rem;
}


.filter-label-b{
    font-weight: 300;
    font-size: 1rem;
    color: black;
    margin: 0;
    margin-right: 0rem;
    
}
.filter-label-b.selected {
    font-weight: bold;
    background-color: #E2FE0B;
    margin-top: 1rem;
    padding: 0.2rem;
    padding-right: 0.5rem;
    border-radius: 0.4rem;
   
  }
  
  .check-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .check-input:checked {
    background-color: #0B997B;
  }
  
  .check-input:hover {
    border-color: #E2FE0B;
    }

.submit-input-add-project{
    width: 100%;
    background-color: #C9D509;
    padding: 1rem;
    font-size: 1.6rem;
    color: black;
    font-weight: 600;
    border-radius: 0.5rem;
    margin-top: 1rem;
    border: none;
    align-items: center;
    justify-content: center;
}

#submit-desktop{
    display: none;
}

#submit-mobile{
    display: flex;
}

.form-add-project-div .input-text{
    border: 3px solid #0B997C;
    background-color: transparent;
    margin-bottom: 0.5rem;
    padding: 0.4rem;
    font-size: 0.9rem;
}

/**********File Inputs**********/
.container-input {
    display: flex;
    text-align: center;
    border-radius: 6px;
    width: 8rem;
    margin-bottom: 1rem;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
	font-size:0.7rem; 
}

/* style 5 */

.inputfile-5 + label {
    color: #333333;
    font-weight: 300;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #0B997C;
}

.inputfile-5 + label figure {
    width: auto;
    border-radius: 1rem;
    background-color: #0B997B;
    display: block;
    padding: 20px;
    margin: 0 auto ;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #086b56;
}

.inputfile-5 + label img {
    width: 90%;
    height: 90%;
}

.inputs-image-div{
    width: auto;
    height: auto ;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(6, 15%);
    gap: 0.5rem;
    padding: 0;
    justify-content: center;
    
  } 
  
  .inputs-image{
    display: flex;
    flex-direction: column;
    height: 20rem;
    border-radius: 0.5rem;
    justify-content: center;
  }

  .inputs-image p{
    margin-left: 0rem;
    margin-bottom: 1rem;
  }

  .inputs-image-div figure {
    margin: 0;
  }

  .inputs-image-div label {
    align-self: center;
  }
  
  #file-image1{
    width: auto;
    grid-row: 1 / 4;
    grid-column: 1 / 3;
    background-color: #086b56;
  }
  
  #file-image2{
    width: auto;
    border: white 3px solid;
    grid-row: 1 / 4;
    grid-column: 3 / 4;
    background-color: #C9D509;
  }
  
  #file-image3 {
    width: auto;
    grid-row: 4 / 7;
    grid-column: 1 / 2;
    background-color: #333333;
  }
  
  #file-image4 {
    width: auto;
    border: white 3px solid;
    grid-row: 4 / 7;
    grid-column: 2 / 4;
    background-color: #5a5a5a;
  }

  .icon-img{
    width: 3rem;
  }

  .section-form1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    }

    .section-form2{
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }

    .container-input {
        display: flex;
        text-align: center;
        border-radius: 6px;
        width: 8rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        justify-content: center;
    }



@media (min-width: 700px){

    .form-add-project-card{
        display: flex;
        justify-content: baseline;
        width: 100%;
        align-self: baseline;
    }
    
    .form-add-project-div{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 1rem; 
        background-color: #00000000;
        align-items: flex-start;
        justify-content: center;

    }

    .section-form1{
        display: flex;
        width: auto;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #D9D9D9;
        border-radius: 0.5rem;
    }

    #submit-desktop{
        display: flex;
    }
    
    #submit-mobile{
        display: none;
    }

    .form-add-project-div p{
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }


    .inputs-image{
        width: 100%;
        background-color: #D9D9D9;
      }

      .inputs-image-div{
        grid-template-columns: repeat(3, 28% );
        grid-template-rows: repeat(6, 14%);
        gap: 0.5rem;
        
      } 

      .inputs-image p{
        margin-left: 2rem;
        margin-bottom: 0.5rem;
      }


    .filter-label-b{
        display: flex;
        width: auto;
        font-size: 1.4rem;
        margin-right: 1rem;
        
    }

    .container-input {
        display: flex;
        text-align: center;
        border-radius: 6px;
        width: 8rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        justify-content: center;
    }

    .section-form2{
        display: flex;
        width: 45%;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1rem;
        border-radius: 0.5rem;
    }

    .submit-input-add-project{
        width: 100%;
        
    }
    
    
    
  }
