nav {
  display: flex;
  position: fixed;
  flex-direction: row;
  bottom: 1em; 
  left: 1em;
  width: 92%;
  height: 4.5em; 
  background-color: #D9D9D9;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50em;
  z-index: 10;
}

.icon-nav-img {
  width: 2.2em;
  height: 2.2em; 
  margin: 0.5em
}

.active {
  background-color: #0DB294;
  border-radius: 50%;
}

#li-close-nav {
  display: none;
}

#icon-close-bar {
  display: none;
  
}

#icon-Login {
  width: 3.5em;
  height: 3.5em; 
    margin: 0;
    padding: 0;
}

#li-Login {
    padding: 0;
}


ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

a{
    display: flex;
}

li {
  margin: 0;
  text-decoration: none;
  list-style: none;
}

@media (min-width: 44em) {
  nav {
    top: 28%;
    left: 8%;
    width: 4em;
    height: min-content;
    padding: 0.3em;
    margin: 0;
  }

  ul {
    flex-direction: column;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  #li-close-nav {
    margin: 0;
    padding: 0;
  }

  #li-Login {
    margin: 0;
    padding: 0;
  }

  #li-menu-nav {
    margin: 0;
    padding: 0;
  }

  #li-close-nav {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .icon-nav-img {
    width: 2em; 
    height: 2em; 
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-top: 0;
  }

  #icon-Login {
    width: 4em;
    height: 4em;
    margin: 0;
    padding: 0;
  }

  #icon-close-bar {
    display: flex;
    width: 4em;
    height: 4em;
    margin: 0;
    padding: 0;
  }

  #icon-menu-bar {
    width: 4em;
    height: 4em;
    margin: 0;
    padding: 0;
  }

  #li-menu-nav {
    margin: 0;
  }
}