nav{
    display: flex;
    position: fixed;
    flex-direction: row;
    top: 50.5rem;
    left: 1rem;
    width: 24rem;
    height: 4.5rem;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50rem;
    z-index: 10;
}

.icon-nav-img{
    width: 100%;
}

.active{
    background-color: #fef60b6d;
    border-radius: 50%;
}

#li-close-nav{
    display: none;
    margin-right: 0;
}

#icon-close-bar{
    display: none;
    width: 100%;
}

#icon-Login{
    width: 95%;
    margin-right: 0.2rem;
}

ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin: 0;
    margin-right: 1rem;
    padding: 0;
    align-items: center;
    margin: 0;
    
}

li{
    margin: 0;
    margin: 0.2rem;
    margin-left: 2rem;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

@media (min-width: 700px){

    nav{
        top: 12rem;
        left: 6rem;
        width: 4.5rem;
        height: auto;
        padding: 0;
        margin: 0;
    }

    ul{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin: 0;
        padding: 0;
        
    }
    
    li{
        margin: 0%;
        margin-top: 1.2rem;
        margin-bottom: 0.5rem;
        padding: 0;
    }

    #li-close-nav{
        display: flex;
        margin: 0;
    }

    #li-Login{
        margin-top: 0.3rem;
        margin-bottom: 0.2rem;
    }

    .icon-nav-img{
        width: 54%;
    }

    #icon-Login{
        width: 80%;
        margin: 0;
    }
    
    #icon-close-bar{
        display: flex;
        width: 100%;
    }

    #icon-menu-bar{
        width: 100%;
        margin: 0;
        margin-bottom: 0;
    }

    #li-menu-nav{
        margin: 0;
    }

}