.management-panel-page-div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#title{
    display:flex;
    margin: 0;
}

.management-panel-page-div p{
    color: black;
}

@media (min-width: 700px){
    .management-panel-page-div{
        display: flex;
        justify-content: flex-start;
    }
}


