.projects-container {
    position: relative;
    min-height: 50vh; 
    width: 100%;
    margin-top: 2%
  }
  
  .projects-list-wrapper {
    width: 100%;
  }
  
  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 3rem;
  }
  
  .project-image-div {
    flex: 0 0 100%;
  }
  
  .project-image-div img {
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
  }
  
    .pagination-buttons {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        gap: 0.5rem;
        padding: 1rem 0;
    }
  
  .pagination-buttons button {
    background-color: #E2FF0F;
    border: none;
    color: black;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 0.2rem;
    border-radius: 50rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  @media (min-width: 700px) {
    .project-image-div {
      flex: 0 0 calc(50% - 0.5rem);
      height: 15rem;
    }
    
    .project-image-div img {
      height: 100%;
      object-fit: cover;
    }
  
    .pagination-buttons button {
      font-size: 1.6rem;
      width: 2.8rem;
      height: 2.8rem;
    }

    .pagination-buttons {
        left: 1rem;
        bottom: -5rem;
      }
  }