.projects-list-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
}

.project-image-div{
    display: flex;
    margin-bottom: 1.5rem;
    
}
.project-image-div img{
    width: 100%;
    border-radius: 1rem;
}

.pagination-buttons{
    display: flex;
    z-index: 3;
    margin-left: 10rem;
}

.pagination-buttons button{
    background-color: #E2FF0F ;
    border: none;
    color: black;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 0.2rem;
    border-radius: 50rem;
    width: 2rem;
}

@media (min-width: 700px){
    .project-image-div{
        display: flex;
        width: 28.5rem;
        height: 14.1rem;
        border-radius: 0.6rem;
    }

    .project-image-div img{
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }

    .projects-list-div{
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 1rem;

    }
    .project-image-div{
        flex: 0 0 auto;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .pagination-buttons{
        display: flex;
        position: absolute;
        top: 42rem;
        left: 38rem;
       
    }

    
.pagination-buttons button{

    font-weight: 600;
    font-size: 1.6rem;
    padding: 0.5rem;
    width: 2.8rem;
}
    
  }