#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.page-div{
  display: flex;
  width: 86%;
  height: auto;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  margin-top: 8rem;
  margin-bottom: 10rem;
}

@media (min-width: 700px){
  .page-div{
    width: 70%;
    height: auto;
    margin-top: 9%;
    margin-left: 20%;
    justify-content: flex-start;
  }
}